@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  display: flex;
}
header {
  border: 1px solid #ccc;
  height: auto;
}
nav h1 {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
nav ul li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: #000;
}
nav ul li:hover {
  background: #ccc;
  transition: 0.3s ease-in;
}

/* Main Section */
main {
  padding: 50px;
  max-width: 1200px;
}
section {
  margin-bottom: 50px;
}
section article {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section h2 {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
section article ul {
  margin-left: 24px;
}
section article ul li {
  margin-bottom: 10px;
}
code {
  background: #f7f7f7;
  white-space: pre-line;
  padding: 15px;
  margin: 10px;
  line-height: 2;
  border-radius: 5px;
}

@media (max-width: 480px) {
  body {
    flex-direction: column;
  }
  header nav {
    height: 200px;
    overflow-y: scroll;
  }
  main {
    padding: 20px;
  }
}
