@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1 rem =16px    */
html {
    font-size: 62.5%;
}

body,
html {
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    font-weight: 300;
    scroll-behavior: smooth;
    color: white;
}

body {
    font-size: 1.4rem;
    max-height: 100vh;
    overflow: scroll;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--lighting-color);
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 3rem;
    font-weight: 700;
}

nav li {
    font-size: 2rem;
    border-bottom: 0.4rem solid transparent;
    transition: 0.3s ease-in;
}

nav li:hover {
    border-bottom: 0.4rem solid var(--secondary-color);
    transition: 0.3s ease-in;

}

/* hero section     */
#hero {
    background-color: var(--dark-color);
    padding: 4rem 0;
    border-bottom: 4px solid var(--lighting-color);

}

#hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}

#hero .container .hero_image img {
    width: 380px;
    height: 400px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.154);
}

.hero_content {
    display: grid;
    place-items: center;
}

#hero h1 {
    font-size: 3rem;
}

.hi_text {
    font-size: 6rem;
    /* by deault bold  hai... */
    color: var(--secondary-color);
}

.name_text {
    font-size: 5rem;
    /* by deault bold  hai... */
}

#hero h2 {
    font-size: 4rem;
    font-weight: bold;

    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    /* Adjust as needed */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

/* Project section   */
#project {
    background-color: var(--darker-color);
    padding-bottom: 20px;
}

#project h2 {
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
}

.project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    place-items: center;
}


/* Add effects and transition */
.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.9;
    cursor: pointer;
}

.card_content h3 {
    text-align: center;
}

.card_content {
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}

.card:hover .card_content {
    background-color: white;
    color: var(--dark-color);
    transform: translateY(0px);
}

.card img {
    width: 100%;
    height: 100%;
}

/* Contact Section    */
#contact {
    background-color: var(--dark-color);
}

#contact h2 {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}

#contact .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.top_contact {
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 2rem;
    place-items: center;
}

.contact_type {
    display: flex;
    gap: 1rem;
    place-items: center;
    border-bottom: 0.2rem solid transparent;
    transition: .2s ease-in-out;
}

.contact_type i {
    font-size: 3rem;
}

.contact_type h3 {
    font-size: 3rem;
}

.bottom_contact {
    max-width: 400px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1rem;
    place-items: center;

}

.contact_type:hover {
    opacity: 0.8;
    border-bottom: .2rem solid white;
    transition: .4s ease-in-out;
    cursor: pointer;
}

/* footer section    */
footer {
    background-color: var(--darker-color);
    padding: 3rem;
    text-align: center;
}

/* Media query... */
@media (max-width:786px) {
    html {
        font-size: 40%;
    }

    #hero .container {
        flex-direction: column;
    }

    .contact .container {
        height: 70vh;
    }
}

@media (max-width:500px) {
    html {
        font-size: 32%;
    }

    #hero .container {
        flex-direction: column;
        padding: 0 6rem;
    }

    .contact .container {
        height: 50vh;
    }

}